@import "_reset";
@import "_media";

body {
  box-sizing: border-box;
  font-family: "微軟正黑體";
  background-color: #eee;
}

//layout
.wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;

  @include pad {
    width: 100%;
  }

  @include phone {
    width: 100%;
  }
}

.header {
  background-image: url("https://images.unsplash.com/photo-1588714477688-cf28a50e94f7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-position: center center;
  background-size: cover;
  padding: 3% 0 5%;
}

@include pad {
  width: 100%;
}

@include phone {
  width: 100%;
}

h1,
.subTitle,span {
  font-weight: bold;
  color: #fff;
  text-align: center;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1));
}
h1 {
  font-size: 120px;
  padding: 2% 0;
  @include phone {
    font-size: 48px;
  }
}
.subTitle {
  font-size: 32px;
  padding-bottom: 1%;
  @include phone {
    font-size: 24px;
  }
}
span{
  font-size: 16px;
  padding-bottom: 2%;
 
}

.parkTotal {
  color: #fff;
  text-align: center;
  font-size: 32px;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1));
  padding: 20px 0;
  @include phone {
    font-size: 16px;
  }
}

#select {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  padding-left: 12px;
  margin: 0 auto;

  @include pad {
    width: 90%;
  }

  @include phone {
    width: 90%;
  }
}

.parkValue {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  .parkName {
    background-color: #f5f5f5;
    width: 25.33333%;
    margin: 1%;
    padding: 3%;
    border-radius: 6px;
    box-shadow: 0 0 5px #37474f;
    line-height: 1.8;
    @include pad {
      width: 46%;
    }

    @include phone {
      width: 98%;
      padding: 10px 20px;
      margin-bottom: 5%;
    }
    &:hover {
      transform: translateY(-10px);
      transition: all 0.5s ease;
      background-color: #e9ffe0;
    }

    h2 {
      color: #1353dd;
      font-weight: bold;
      text-align: center;
      font-size: 32px;
    }
  
  }
}
